doctype html
html(lang="en")
	head
		title = Index
		//- jquery
		script(src='../jquery/jquery.min.js')
		//- semantic
		script(src='../semantic/dist/semantic.min.js')
		link(rel='stylesheet', type='text/css', href='../semantic/dist/semantic.min.css')
		//- own stylesheet
		//- own javascripts
	body
		include ./menu.jade
		div.pusher
			//- include ./something.jade


